@import '../var.scss';

#home {
  flex-wrap: wrap-reverse;
  .name {
    flex: 1;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;

    h1 {
      display: block;
      // font-family: 'Roboto Mono';
      margin: 10vw;
      text-justify: center;
    }
  }

  #canvas {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transition-duration: 200ms;
  }
}

@media (max-width: $tablet) {
  #home {
    #canvas {
      width: 40vw;
      align-self: center;
      margin-bottom: 10vh;
    }

    .name {
      position: absolute;
      bottom: 5vh;
      left: 0;
    }
  }
}
