@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$offWhite: #f8f8f8;

html {
  font-size: 1vw;
  scroll-behavior: smooth;
  font-family: 'Roboto';
  background-color: $offWhite;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
  font-family: 'B612 Mono';
  font-weight: 200;
  font-kerning: normal;
}

.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 4px solid #fff;
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f8f8f8;
  }

  .page-link {
    height: 100%;
    width: auto;
    margin: 15px;
    display: block;
    border: none;
    background: none;
    font-size: 18px;
    text-align: center;
    width: 6vw;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #toggle {
    display: none;
    border: none;
    background: none;
  }
}

#home {
  flex-wrap: wrap-reverse;
  .name {
    flex: 1;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;

    h1 {
      display: block;
      margin: 10vw;
      text-justify: center;
    }
  }

  #canvas {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transition-duration: 200ms;
  }
}

#about {
  .container {
    margin: 0 5%;
    width: 90%;
    max-width: 1440px;
  }

  div {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }

  .about {
    align-items: center;
    div {
      margin: 10%;
      flex-direction: column;

      h2 {
        font-family: 'Roboto';
        align-self: flex-start;
        font-size: 1.4rem;
      }

      p {
        font-family: 'Roboto';
        line-height: 2;
        font-size: 1.1rem;
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    margin: 10% 0;
    width: auto;

    img {
      width: 70%;
    }

    #matrix {
      font-family: 'B612 Mono', monospace;
      position: absolute;
      opacity: 0.3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: -1;
      margin: auto;
    }
  }
}

#portfolio {
  .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1440px;

    h1 {
      position: absolute;
      left: 0;
      top: -15%;
      font-size: 2.4rem;
      font-family: 'roboto';
      font-weight: 600;
    }

    .background {
      width: 100%;
      min-width: 1080px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .loading-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      align-items: center;
      justify-content: center;
      background: none;

      .loader {
        box-shadow: 0 0 0 15px #fff;
        border-width: 8px;
        background-color: #fff;
        width: 40px;
        height: 40px;
      }
    }

    .faux-carousel {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .slide {
        position: absolute;
        height: 80%;
        width: 70%;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;

        .arrow {
          position: absolute;
          width: 40px;
          height: 40px;
          top: 50%;
          transform: translateY(-50%);

          &:hover {
            cursor: pointer;
          }

          &.right {
            right: -50px;
          }

          &.left {
            left: -50px;
          }
        }
      }
      .faux-slide {
        display: none;
        overflow-x: hidden;
      }
    }
  }

  .phone-container {
    height: 80%;
    margin: 0 10%;
    max-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .phone-body {
      height: 100%;
    }

    .phone-video {
      position: absolute;
      display: flex;
      height: 95%;
      align-items: center;
      justify-content: center;
      mask-image: url(./assets/screen-mask.png);
      mask-size: 100%;
    }

    .arrow {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .left {
      left: -40px;
    }

    .right {
      right: -40px;
    }
  }

  .text-container {
    flex: 1;
    margin: 10%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    max-width: 60%;

    h2 {
      margin-bottom: 0;
    }

    .link {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin: 5px;
        margin-left: 0;
        height: 20px;
      }

      a {
        color: #000;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    display: block;
    height: 15vh;
    width: 15vh;
    margin: 5vh;
    opacity: 0.16;
    objext-fit: contain;
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
      opacity: 1;
    }
  }

  .plane {
    position: absolute;
    right: 5vw;
    bottom: 0;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 1.8vh;
  }

  #header {
    background: none;

    #toggle {
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: none;
      }
    }

    .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $offWhite;
      overflow: hidden;
      transition-duration: 200ms;
    }

    .page-link {
      margin: 10vw;
      width: 100%;
      height: 5vh;
      font-size: 2rem;
      text-align: left;
    }

    .expanded {
      height: 100vh;
    }

    .collapsed {
      height: 0vh;
    }
  }

  h1 {
    font-size: 3.5rem;
  }

  #home {
    #canvas {
      width: 40vw;
      align-self: center;
      margin-bottom: 10vh;
    }

    .name {
      position: absolute;
      bottom: 5vh;
      left: 0;
    }
  }

  #about {
    flex-direction: column-reverse;
    .container {
      flex-direction: column-reverse;
    }

    div {
      height: auto;
    }

    .about {
      align-items: flex-start;
      div {
        justify-content: end;
      }
    }
  }

  #portfolio {
    overflow-x: hidden;
    height: 140vh;

    .container {
      height: 100vh;
      .background {
        height: 100%;
        width: auto;
      }
      .faux-carousel {
        .slide {
          height: 90vh;
          width: 80vw;
          display: flex;
          flex-direction: column;
          transition: all ease-in-out 200ms;
          .arrow {
            display: none;
          }
        }
        .faux-slide {
          height: 90vh;
          width: 80vw;
          transition: all ease-in-out 200ms;
          position: absolute;
          display: block;
          background-color: #fff;

          &.left {
            transform: translateX(-100%) scale(0.9);
          }
          &.right {
            transform: translateX(100%) scale(0.9);
          }
        }
      }

      .loading-container {
        .loader {
          box-shadow: 0 0 0 10px #fff;
          border-width: 6px;
          background-color: #fff;
          width: 30px;
          height: 30px;
        }
      }

      .phone-container {
        box-sizing: border-box;
        margin-top: 10%;
        width: 90%;
        height: 40%;
      }

      .text-container {
        max-width: 80%;
        margin-right: 0;
        margin-top: 3%;
      }
    }
  }

  #contact {
    flex-direction: column;

    .button {
      opacity: 1;
    }
  }
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}
